<div class="navbar">
  <img class="navbar-brand" src="/assets/logo.png" alt="Rateit Logo">
  <form class="navbar-search" role="search">
    <input type="search" id="query" name="q" placeholder="Search" class="navbar-search-input" aria-label="Search" autocomplete="off">
  </form>
  <nav class="navbar-nav">
    <a href="/login" class="btn btn-outline">Log In</a>
    <a href="/signup" class="btn">Sign Up</a>
  </nav>
</div>