<div class="navbar">
  <a href="/"><img class="navbar-brand" src="/assets/logo.png" alt="Rateit Logo"></a>
  {{!-- <form class="navbar-search" role="search">
    <input type="search" id="query" name="q" placeholder="Search" class="navbar-search-input" aria-label="Search" autocomplete="off">
  </form> --}}
  <nav class="navbar-nav">
    {{#if currentUser}}
      <a href="/users/{{currentUser.username}}" >
        <img class="navbar-avatar" src="https://robohash.org/{{currentUser.username}}.png">
      </a>
    {{else}}
      <a href="/login" class="btn btn-outline">Log In</a>
      <a href="/signup" class="btn">Sign Up</a>
    {{/if}}
  </nav>
</div>