<div class="cols">
  <div class="card">
    <div class="card-header-left">
      <h1 class="card-header-left-title">Login</h1>
    </div>
    <div class="card-body">
      <div class="card-content">
        <form action="/login" method="POST" class="card-form">
          <input class="card-input-long" name="email" type="email" placeholder="email">
          <input class="card-input-long" name="password" type="password" placeholder="password">
          <button type="submit" class="btn" style="align-self: flex-end;">Log In</button>
        </form>
      </div>
    </div>
  </div>
</div>
